:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* מצמיד למעלה */
  min-height: 100vh;
  padding-top: 80px; /* תזיז למעלה/למטה לפי הצורך */
  text-align: center;
}


body {
  margin: 0;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 5px;
  font-size: 2.5em;
}

p {
  color: #555;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
}
